.vote-btn-grp {
    display: inline-block;
}

.vote-btn-grp .vote-btn {
    width: 50px;
}

.vote-btn {
    line-height: 7px;
    /* outline-width: thin; */
    /* max-width: 36px; */
    background: none;
    border: 2px solid #3ecc9a;
    /* margin-right: 0.5rem; */
    width: 30px;
    margin: 0px 10px 0px 0px;
    height: 30px;
}

.vote-btn:disabled.current-vote {
    background: #3ecc9a;
}

.ul-votes {
  padding: 0px;
}

.button-wrap-vote {
  display: inline;
width: 100%;
margin: 0px;
}
