.tab {
    min-width: 200px;
    max-width: 250px;
    background: #1f1f1f;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
    border-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
}

.trans-col {
    min-width: 175px;
}

.nav-overflow {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    margin: 0;
    padding: 0;
    max-height: 500px;
}

.scroll-hide {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}

.scroll-hide::-webkit-scrollbar {
    width: 0 !important;
}
.algo-card {
    width: 700px;
    background-color: #282828;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(233, 233, 233);
    border-left: green;
    border-left-style: solid;
    border-left-width: thick;
    margin-bottom: 20px;
}

.algo-card:hover {
    opacity: 0.9;
}
.boundaries-algo {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0;
}

.algo-card .secondary-text {
    color: #838383;
}

.algo-card .row {
    margin: 0;
    padding: 0.2rem 0;
}

.algo-detail-arrow {
    width: 2rem;
    height: auto;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translate(0%, -50%);
}

.algo-link {
    color: #838383;
    text-decoration-line: underline;
}

.algo-link:hover {
    opacity: 0.8;
    color: #838383;
}

.algo-link p {
    display: inline;
}

table {
    font-size: 16px;
}

.nav-tabs {
    border: 0px;
}

.bt-nav-tab {
    cursor: pointer;
}

.active {
    background-color: #838383;
}

.margin-auto h1,
p {
    margin: auto;
}

.percent {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #3ecc9a;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 59px;
    right: 55px;
}
.title-info {
    display: inline-block;
}
.position-corner {
    float: right;
    margin-top: 0px;
}

.maxWidth {
    max-width: 300px;
}

.list-group-item {
    background: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-right: none;
    border-bottom: none;
    border-left: none;
    font-size: 16px;
}
.list-group {
    overflow: scroll;
    max-height: 500px;
}
.panel-title a {
    color: white;
    text-align: left;
}

.transaction-table {
    table-layout: auto;
    border-radius: 0px 5px;
    width: 100%;
    background: #282828;
    overflow: scroll;
    max-height: 500px;
}

.backtest .active {
    background: #282828;
}

.select-backtest {
    cursor: pointer;
    padding: 10px;
}

.transaction-table .tab {
    text-align: left;
    border: none;
    border-radius: 0px;
    background-color: #282828;
}

.active {
    background: #282828;
}

.backtest {
    max-width: 1200px;
}
.backtest .padding {
    background: #282828;
    border-radius: 0px 0px 5px 5px;
}

.percent h1 {
    font-weight: bolder;
    font-size: 30px;
}
