.login {
  display: inline-block;
  display: flex;
  height: 100vh;
}

.grow {
    margin: 32% auto;
}
.side {
  background: #44E8AE;
  flex: 5.4 1;
  text-align: center;
  max-width: 50vw;
  overflow: auto;
  height: 100vh;
}
.right {
  flex: 5.4 1;
}

.login .link {
  text-decoration: underline;
  font-size: 10px;
}

form {
  text-align: center;
  display: inline-block;
}
.login button {
  border-radius: 30px;
}

.login a {
  font-size: 14px;
}

.right {
  text-align: center;
  display: inline;
  margin: auto;
}
.logo {
  max-width: 100%
}
