.login {
  display: inline-block;
  display: flex;
}

.grow {
  margin: 32% auto;
  padding: 10%;
  max-width: 450px;
}
.side {
  background: #44E8AE;
  flex: 5.4 1;
  text-align: center;
  max-width: 50vw;
  overflow: hidden;
  max-height: 100vh;
}

.login .link {
  text-decoration: underline;
  font-size: 10px;
}

form {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.login button {
  border-radius: 30px;
}

.login a {
  font-size: 14px;
}

.right {
  text-align: center;
  display: inline;
  padding: 30vh 0 53vh 0;
  flex: 5.4 1;
  max-height: 100vh;
}
.logo {
  max-width: 100%
}

.submit-btn {
  display: none;
}

@media screen and (max-width: 337px) {
  .submit-btn {
    display: block;
  }
  .submit-arrow {
    display: none;
  }
}
