/* The Modal (background) */
.modal {
    display:inline-block;
    position: absolute;
    padding-bottom: 30px;
    z-index: 100000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    min-height: 100%;
}
.modal h1 {
  display: inline;
}
/* Modal Content/Box */
.modal-content {
    display: block;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    border: none;
}
.modal-top {
    display: block;
    margin: 0px 10px 0px 0px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    outline: none;
}

.h1 {
    text-align: left;
    font-weight: bold;
    color: white;
    margin: auto;
}
