.contain {
    /* display: inline-block;
    position: fixed;
    left: 0px;
    top: 0px; */
    cursor: pointer;
}
.navwrap {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.bar-con {
    padding: 5px;
}

.nav {
    display: flex;
    font-family: 'Rufina', sans-serif;
    font-size: 18px;
    z-index: 5;
}

.nav a {
    line-height: 30px;
}
.contain:hover {
    opacity: 1;
}

.bar1,
.bar2,
.bar3 {
    opacity: 0.8;
    background-color: white;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    transition: 0.5s;
}

/*Use later, probs*/
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    display: none;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.drop {
    padding: 25px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 0px;
    min-width: 175px;
    /* position: fixed;
    height: 100vh;
    display: inline-block;
    z-index: 5; */
}

.drop a {
    color: white;
    display: block;
}

.errorClass {
    color: #fa6353;
}
