.stock-list {
  color: white;
  width: 100%;
}

.choose-universe .panel-title {
  padding: 10px 20px;
  margin: 10px 0;
  background: #282828;
  border-radius: 5px;
  cursor: pointer;
}

.panel-title:hover {
  opacity: .8;
}

.drop-icon {
  position: absolute;
  top: 25px;
  right: 20px;
}
.choose-universe .selected {
  color: white;
  background-color: #3ECC9A;
}

.universe-pane {
  margin: 10px;
}

.universe-list{
  color: white;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
  max-height: 500px;
}

.universe-list-item {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.universe-list-item:hover {
  opacity: .5;
}

.universe-list-item.selected {
  color: #3ECC9A;
  border: 1px solid;
  border-radius: 30px;
}

.universe-list-item.selected:hover {
  opacity: 1;
}

.flex-container{
  display: flex;
}

.con.flex-container{
  max-width: 100%;
  min-width: 100%;
}

.flex-container.stocks{
  display: flex;
  flex-direction: column;
}

.stock-list.value-list{
  color: #3ECC9A;
  font-style: italic;
  padding-left: 0px;
  margin-block-end: 0px;
  max-height: 250px;
}

.universe-add{
  max-width: 20px;
  position: relative;
  left: 10px;
  top: 3px;
}

.universe-add:hover{
  opacity: .5;
}

.multiselect {
  margin-left: 30px;
  width: 300px;
  color: black;
}

#newUniverseName {
  text-transform: none;
}

.stock-remove-button {
  position: relative;
  left: 10px;
  width: 1em;
}

.stock-remove-button:hover {
  opacity: .50;
}

.add-stocks {
  padding-left: 50px;
  min-width: 100%;
}

.submit-button{
  color: #3ECC9A;
  background-color: #1F1F1F;
  border: 1px solid #3ECC9A;
  border-radius: 30px;
}

.submit-button:hover {
  opacity: .60;
}

input.search {
  width: 100% !important;

}

.search {
  background: none !important;
}

.menu {
  overflow: scroll;
  cursor: pointer;
  max-height: 200px;
}

.search span:hover {
  opacity: .8;
}

.search .sizer {
  display: none;
}

.search a.ui.active.label, .search a.ui.label {
  display: none !important;
}

.save-icon{
  height: 50px;
  width: 45px;
  padding-right: 15px;
}

.clear-icon {
  width: 30px;
}

.save-icon:hover{
  opacity: .8;
}

.save-icon:active{
  color: darkred;
}

.server-response {
  color: #3ecc9a;
  font-style: italic;
  opacity: .6;
}
