body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  background-color: #282828;
  color: white;
}

button {
  border-radius: 30px;
}

input, input:hover, input:focus, input:active, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    outline: none;
    background-color: #3ECC9A !important;
    border-radius: 30px;
    outline-offset: 0px;
    border: none;
}

input, label {
  font-weight: bolder;
  display: flex;
  font-size: 16px;
  position: relative;
  margin: 20px 0px 20px 0px;
  padding: 10px;
  text-transform: uppercase;
  text-align:center;
  color: white;
  width: 100%;
}

input::placeholder {
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
