@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Proxima-Nova.woff'); /* IE9 Compat Modes */
  src: local('Proxima Nova'), local('Proxima Nova'),
       url('assets/fonts/Proxima-Nova.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Proxima-Nova.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Proxima-Nova.otf') format('otf'); /* Legacy iOS */
}

@font-face {
  font-family: 'Proxima Nova Bold';
  font-style: normal;
  font-weight: bold;
  src: url('assets/fonts/Proxima-Nova-Bold.woff'); /* IE9 Compat Modes */
  src: local('Proxima Nova Bold'), local('Proxima Nova Bold'),
       url('assets/fonts/Proxima-Nova-Bold.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Proxima-Nova-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Proxima-Nova-Bold.otf') format('otf');
}

#root {
  width: 100%;
}
body {
    margin: 0 auto;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    background-color: #000;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.serif {
    font-family: 'Rufina', sans-serif;
}

button {
    border-radius: 30px;
}

input, input:hover, input:focus, input:active, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    outline: none;
    background-color: #1F1F1F;
    color: #3ECC9A !important;
    border-radius: 30px;
    outline-offset: 0px;
    border: 1px solid #3ECC9A;
}

input, label, button {
    font-weight: bolder;
    font-size: 16px;
    position: relative;
    margin: 15px 0px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 100%;
}

button {
    outline: none;
    color: white;
    background-color: #3ECC9A;
    outline: 0px solid transparent;
    border: 0px solid transparent;
}

input::placeholder {
    color: #3ECC9A;
    text-align: center;
}

.App {
    text-align: center;
}

.App-header {
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.submit-arrow {
    max-width: 25px;
    z-index: 100;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.login .btn-img {
    background: none;
    width: auto;
    position: absolute;
    padding: 0px;
    margin: 25px -33px;
}

.submit-arrow:hover {
    opacity: .8;
    cursor: pointer;
}

.btn-img:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */

input:active, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-image: none;
    color: rgb(0, 0, 0);
}

a {
    color: #282828;
}

a:hover {
    color: white;
}

ul, li {
    list-style-type: none;
}

.page {
    padding: 20px;
    display: inline-block;
}

.con {
    padding: 20px;
    min-width: 500px;
    max-width: 600px;
    background: #1F1F1F;
    border-radius: 5px;
    margin-bottom: 20px;
}

.con-table {
  padding: 0px 0px;
  background: #1F1F1F;
  border-radius: 0px 5px;
  margin-bottom: 20px;
  width: 100%;
}
.transaction-table tr {
  text-transform: uppercase;
  padding: 5px;
}
.transaction-table th, td {
  padding: 5px;
}
.transaction-table td {
  font-weight: lighter;
}

.con-table th, td {
  padding: 5px 0px;
  text-transform: uppercase;
}
.li {
    padding: 10px 20px;
    margin: 10px 0;
    background: #282828;
    border-radius: 5px;
}

button:focus {
    outline: 0px;
}

button:hover {
    opacity: .9;
    cursor: pointer;
}

.rel {
    position: relative;
}

.overlay {
    z-index: 100;
    background: #3ECC9A;
    position: absolute;
    top: 129px;
    right: 42px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .8);
}

.overlay input, .overlay input:hover, .overlay input:focus {
    border: 1px solid rgba(0, 0, 0, .2);
}

h1 {
    margin: 1.5rem 0px;
}

.profile-circle {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.profile-nav {
    display: inline;
    width: 50px;
    height: 50px;
}

.user {
    top: 10px;
    right: 10px;
    color: white;
    position: absolute;
}

.user:hover {
    text-decoration: none;
    opacity: .9;
}

.user p {
    margin: 0px 0px 0px 5px;
    display: inline;
}

.profile-pic {
    width: 100%;
    height: 100%;
    background: white;
    max-width: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.wrapright {
  min-height: 100vh;
  display: flex;
  padding: 40px;
  width: 90%;
  max-width: 90vw;
}

.fullWidth {
  width: 100%;
}
.transform:hover  {
  text-decoration: none;
}
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.subtext {
  font-size: 12px;
  color: #7C7C7C;
}

.margin-auto {
  margin: auto;
  display: inline-grid;
}
.padding {
  padding: 10px;
}
.margins {
  margin: 20px 0px;
}
.greenButton {
  background-color: #3ECC9A;
  color: white;
}
.hover:hover {
  opacity: .8;
}

.loading {
    font-size: 4rem;
}
.marginRight {
    margin-right: 20px;
}

.user p {
  font-size: 12px;
}

.marginLeft {
  margin-left: 20px;
}
.loading:after {
  content: '•  ';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


.borderGreen {
  border-left: #3ECC9A;
  border-left-style: solid;
  border-left-width: thick;
}
.borderRed {
  border-left: #FA6353;
  border-left-style: solid;
  border-left-width: thick;
}
.borderYellow {
  border-left: #FFEA4B;
  border-left-style: solid;
  border-left-width: thick;
}
