body {
  margin: 0 auto;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  background-color: #000;
  color: white;
}
.serif {
  font-family: 'Rufina', sans-serif;
}
button {
  border-radius: 30px;
}

input, input:hover, input:focus, input:active, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
    outline: none;
    background-color: #3ECC9A !important;
    border-radius: 30px;
    outline-offset: 0px;
    border: none;
}

input, label, button {
  font-weight: bolder;
  font-size: 16px;
  position: relative;
  margin: 15px 0px;
  padding: 10px;
  text-transform: uppercase;
  text-align:center;
  color: white;
  width: 100%;
}

button {
  outline: none;
  color: #3ECC9A;
  outline: 0px solid transparent;
  border: 0px solid transparent;
}

input::placeholder {
  color: white;
  text-align: center;
}

.App {
  text-align: center;
}


.App-header {
  background-color: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-arrow {
  max-width: 25px;
  z-index: 100;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.login .btn-img {
  background: none;
  width: auto;
  position: absolute;
  padding: 0px;
  margin: 25px -33px;
}
.submit-arrow:hover {
  opacity: .8;
  cursor: pointer;
}
.btn-img:focus {
  outline: none;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

.nav {
  position: absolute;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input:active, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: green;
  background-image: none;
  color: rgb(0, 0, 0);
}

a {
  color: #282828;
}
a:hover {
  color: white;
}
ul, li   {
  list-style-type: none;
}

.page {
  padding: 20px;
}
.con {
  padding: 20px;
  background: #1F1F1F;
  max-width: 400px;
  border-radius: 5px;
}
.li {
  padding: 10px 20px;
  margin: 10px 0;
  background: #282828;
  border-radius: 5px;
}

button:focus {
  outline: 0px;
}

button:hover {
  background-color: rgba(255, 255, 255, .8);
  cursor: pointer;
}
.rel {
  position: relative;
}

.overlay {
  z-index: 100;
  background: #3ECC9A;
  position: absolute;
  top: 129px;
  right: 42px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.8);
}
.overlay input, .overlay input:hover, .overlay input:focus {
  border: 1px solid rgba(0,0,0,.2);
}
.errorClass {
  display:inline-block;
}

h1 {
  margin: 1.5rem 0px;
}

.profile-circle {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.profile-img {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.profile-nav {
  display: inline;
  width: 50px;
  height: 50px;
}
.user {
  top: 5px;
  right: 150px;
  color: white;
}
.user:hover {
  text-decoration: none;
  opacity: .9;
}
.user p {
  margin: 0px 0px 0px 5px;
  display: inline;
}

.user {
  float: right;
}
.profile-pic {
  width: 100%;
  height: 100%;
  background: white;
  max-width: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
