.temptext {
    color: white;
}

.addbtn {
    background: url("./adminAssets/add_icon.png") no-repeat center center;
    background-size: 80% 80%;
    border:none;
    width:40px;
    height:40px;
    font-size:0;
}

#add-user-hide-button {
    width: 150px;
}

.preferences-input {
    color:black;
}
button .delete {
  border-radius: 100px;
  min-width: 28px;
  width: auto;
  background: none;
  background-color: none;
  margin-left: 10px;
}

.icon {
  max-width: 20px;
  position: absolute;
  right: 6px;
  top: 5px;
}
.icon:hover {
  opacity: .7;
}

.roster {
  top:20px;
  right: 20px;
}
